*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: #555
}

nav li a {
    transition: 0.5s cubic-bezier(.9, 0, .1, 1);
    z-index: 2;
}

nav li a:hover {
    letter-spacing: 5px;
    color: #000;

}

.logo img{
    width: 16%;
    height: 6%;
    cursor: pointer;
}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    background-color: #f5f6f7;
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 6%;
}


.heading h1 {
    margin-left: 8%;
    margin-top: 8%;
    font-weight: 500;
    font-size: 3.5rem;
}

.hero img {
    position: relative;
    height: 48%;
    width: 48%;
    object-fit: cover;
    margin-left: 27%;
    margin-top: 4%;
}

#hero_hr {
    color: grey;
    width: 75%;
    height: 0px;
    margin-left: 10%;
}

.buy_se_heading h1 {
    margin-left: 8%;
    margin-top: 2%;
    font-weight: 500;
    font-size: 3.5rem;
}

.buy_se_heading p {
    margin-left: 8%;
    margin-top: 0%;
    font-weight: 400;
    font-size: 0.9rem;
    color: #000;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    margin-top: 5%;
}

.col-4 img{
    width: 70%;

}

.se_buy {
    position: relative;
    width: 60%;
    height: 80vh;
    margin-left: -24%;
    margin-top: 3.5%;
    border-radius: 20px;
}

.se_buy img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
    border: none;
}

.side_row_1 {
    position: absolute;
    width: 30%;
    height: 80vh;
    margin-right: -1000px;
    margin-top: 3.5%;
    border-radius: 20px;
    /* background-color: green; */
}

.side_row_2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.side_row_3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.side_row_4 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.side_row_5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.side_row_6 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.side_row_7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4 h4{
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 14%;
}

.col-4 h6 {
    color: grey;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 6%;
}

.col-4 p{
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 6%;
    margin-left: 5%;
}

#buy_button{
    height: 30px;
    width: 60px;
    border-radius: 50px;
    background-color: blue;
    color: #fff;
    border: none;
    margin-top: 5%;
    margin-left: 100px;
    cursor: pointer;
    transition: 0.4s;
}

#buy_button:hover {
    color: blue;
    background-color: #fff;
}

.mid-head h1 {
    margin-left: -45%;
    margin-top: 10%;
    font-weight: 570;
    font-size: 3.2rem;
}

.spcl-box {
    width: 100%;
    height: 450px;
}

.box-1 {
    width: 420px;
    height: 270px;
    margin-top: 5%;
    margin-left: 3%;
    border-radius: 20px;
    transition: .5s ease;
    background-color: #fff;
}

.box-2 {
    width: 420px;
    height: 270px;
    margin-top: -270px;
    margin-left: 36%;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s ease;
}

.box-3 {
    width: 420px;
    height: 270px;
    margin-top: -270px;
    margin-left: 69%;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s ease;
}

.box-1 h1, .box-2 h1, .box-3 h1 {
    margin-left: 40px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 1.5rem;
}

.box-1 p, .box-2 p, .box-3 p {
    margin-left: 40px;
    margin-top: 15px;
}

.box-1 img, .box-2 img, .box-3 img {
    margin-left: 40px;
    margin-top: 20px;
}

.box-1:hover{
    transform: scale(1.02);
}

.box-2:hover{
    transform: scale(1.02);
}

.box-3:hover{
    transform: scale(1.02);
}

.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* Offer */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.introvid{
    position: relative;
    height: 650px;
    width: 1230px;
    margin-left: 8%;
    border-radius: 50px;

}

.introvid video{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    /* margin-top: 0%;
    margin-left: -20%; */
    object-fit: cover; 
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 2px);
    left: -1px;
}

/* Brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

hr {
    color: grey;
}

/* Footer */
.footer{
    background: #fff;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
    font-size: 0.7rem;
}
.footer h3{
    color: #000;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 0.8rem;
}

#fstore span {
    color: blue;
    text-decoration: underline;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* All Products */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: white;
}

/* Single Product */
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: 1px solid #ff523b;
    margin-right: 10px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* Cart Items */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* Account page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.message-container{
    background: #fff;
    width: 300px;
    height: fit-content;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.error{
    color: red;
}

.success {
    color: green;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* Media query for menu */
@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

.side_row_1  {
    margin-top: 15%;
    margin-left: 40px;
}

.side_row_1 h1{
    font-size: 1.5rem;
    font-weight: 550;
    color: grey;
}

.side_row_1 span {
    color: #000;
}

.side_row_1 h2 {
    font-weight: 520;
    font-size: 1.1em;
}

/* .side_row_1 img {
    width: 30px;
    height: 30px;
    cursor: pointer;
} */

.side_row_1 p{
    font-size: 0.8rem;
}

.rght-1 {
    position: absolute;
    width: 80%;
    height: 100px;
    border-radius: 9px;
    border: 1px solid gray;
}

.rght-1 h1 {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 20px;
}

.rght-1 p {
    margin-left: 220px;
}

.rght-2 {
    position: absolute;
    width: 80%;
    height: 100px;
    border-radius: 9px;
    border: 1px solid gray;
    margin-top: 30%;
}

.rght-2 h1 {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 20px;
}

.rght-2 p {
    margin-left: 220px;
}

#click-1 {
    margin-left: 3%;
}

#click-2 {
    margin-left: 3%;
}

.continue h1 {
    font-weight: 600;
    margin-left: 43%;
}

.continue hr {
    color: grey;
}

.continue h2 {
    margin-left: 25%;
    font-weight: 400;
    font-size: 1.3rem;
}

.continue2 h1 {
    font-weight: 600;
    margin-left: 25%;
}

.hr {
    height: 10px;
    width: 70%;
    margin-left: 16%;
}

.rht-box {
    position: relative;
    height: 75vh;
    width: 50%;
    margin-top: -250px;
    /* background-color: green; */
    margin-left: 36.4%;
}

.rht-img {
    height: 10%;
    width: 10%;
    margin-top: -4%;
}

.rht-img img {
    height: 90%;
    width: 130%;
    margin-left: 190%;
}

.rht-box h2 {
    margin-left: 7%;
    margin-top: 12%;
    font-size: 1.2rem;
    font-weight: 550;
}

.rht-box h3 {
    position: absolute;
    margin-left: 80%;
    margin-top: -9%;
    font-weight: 550;
}

.subt {
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    gap: 31rem;
    font-size: 1rem;
}

.subt p {
    font-weight: 400;
    color: #000;
}

.ship {
    margin-top: 1%;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    gap: 31rem;
}

.ship p {
    font-weight: 400;
    color: #000;
}

.tot {
    margin-top: 1%;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    gap: 32rem;
}

.tot p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.hr-2 {
    height: 10px;
    width: 142%;
    margin-left: -40%;
}

.form_btn {
    position: relative;
    display: block;
    width: 40%;
    /* height: 10px; */
    padding: 30px 0;
    margin-top: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: grey;
    overflow: hidden;
    margin-left: 30%;
    text-transform: uppercase;
}

.form_btn-txt {
    position: relative;
    letter-spacing: 4px;
    pointer-events: none;
    font-weight: 600;
    transition: 1s cubic-bezier(.9, 0, .1, 1);
    z-index: 2;
}

.form_btn:hover .form_btn-txt {
    letter-spacing: 15px;
    color: #fff;
}

.form_btn-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translateX(-102%);
    background: blue;
    transition: 1s cubic-bezier(.9, 0, .1, 1);
}

.form_btn:hover .form_btn-bg {
    transform: translateX(0);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--white);
  padding: 0 8%;
  box-shadow: var(--shadow);
}

.navbar-logo {
  cursor: pointer;
}

.navbar-list {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
}

.navbar-list li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar-list li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
  margin-left: 80%;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(./assets/profile-pic.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}