{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Zyrx</title>
	<link rel="icon" href="img/icon.jpg" type="icon/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style/normalize.css">
	<link rel="stylesheet" href="{% static 'css/styleslide.css' %}">
</head>

<body>

	<!-- div .wrapp -->
	<div id="luxy" class="wrapp">

		<!-- div .header -->


		<header class="header">
			<h1 class="title" data-splitting><span class="title_paralax">zyrx</span><br><span class="stroke">WATCH<br>
					Pro Series</span></h1>
			<div class="header__img">
				<a href="{% url 'home' %}"><img src="{% static 'images/watchbanner.jpg' %}" alt="1"></a>
			</div>
			<div class="header__marq">
				<div class="header__marq-wrapp">
					<span class="header__marq-txt">Smarter.
                        Brighter.
                        Mightier.
						<span class="header__marq-star">
							<img src="{% static 'images/star.svg' %}" alt="">
						</span>
					</span>
					<span class="header__marq-txt">Smarter.
                        Brighter.
                        Mightier.
						<span class="header__marq-star">
							<img src="{% static 'images/star.svg' %}" alt="">
						</span>
					</span>
					<span class="header__marq-txt">Smarter.
                        Brighter.
                        Mightier.
						<span class="header__marq-star">
							<img src="{% static 'images/star.svg' %}" alt="">
						</span>
					</span>
					<span class="header__marq-txt">Smarter.
                        Brighter.
                        Mightier.
						<span class="header__marq-star">
							<img src="{% static 'images/star.svg' %}" alt="">
						</span>
					</span>
				</div>
			</div>
		</header>

		<main class="main">

			<!-- div .about -->
			<section class="about">
				<div class="about__wrapp">
					<div class="about__img">
						<img src="{% static 'images/ww1.jpg' %}" alt="2">
					</div>
					<div class="about__txt">
						<h2 class="section-title">abo<span class="stroke">ut</span>
							<span class="section-title__square"></span>
						</h2>
						<p class="about__p">Smarter.
                            Brighter.
                            Mightier.
                            
                            Our most powerful chip in Zyrx Watch ever. A magical way to use your zyrx Watch without touching the screen. A display that’s twice as bright. And now you can choose a watch case and strap combination that’s carbon neutral.</p>
					</div>
				</div>
			</section>

			<!-- div .benefits -->
			<section class="benefits">
				<div class="content">
					<h2 class="section-title">benef<span class="stroke">its</span>
						<span class="section-title__square"></span>
					</h2>

					<ul class="benefits__list">
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-200">/01</span>
							<p class="benefits__p">Play and pause music while carrying groceries.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-150">/02</span>
							<p class="benefits__p">Answer a call while paddleboarding.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-150">/03</span>
							<p class="benefits__p">Stop a timer while baking a pie.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-150">/04</span>
							<p class="benefits__p">Stop a timer while baking a pie.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-110">/05</span>
							<p class="benefits__p">Check your Smart Stack while holding your toddler.
							</p>
						</li>
						<li class="benefits__item">
							<span class="benefits__num" data-speed="-200">/06</span>
							<p class="benefits__p">Reply to a message while walking the dog.
							</p>
						</li>
					</ul>
				</div>
			</section>

			<!-- div .work -->
			<section class="work">
				<div class="content">
					<h2 class="section-title">Our &nbsp; &nbsp; <span class="stroke">Collections</span>
						<span class="section-title__square"></span>
					</h2>
				</div>

				<div class="work__wrapp">
					<div class="work__item" data-speed="-300">
						<span class="work__item-num" data-speed="-1000">/001</span>
						<div class="work__item-img">
                            <a href="{% url 'prod' %}">
							<img src="{% static 'images/ww2.jpg' %}" alt="3">
                            </a>
						</div>
					</div>
					<div class="work__item" data-speed="-600">
						<span class="work__item-num" data-speed="-500">/002</span>
						<div class="work__item-img">
                            <a href="{% url 'prod' %}">
							<img src="{% static 'images/ww3.jpg' %}" alt="4">
                            </a>
						</div>
					</div>
					<div class="work__item" data-speed="-700">
						<span class="work__item-num" data-speed="-700">/003</span>
						<div class="work__item-img">
                            <a href="{% url 'prod' %}">
							<img src="{% static 'images/ww4.jpg' %}" alt="5">
                            </a>
						</div>
					</div>
					<div class="work__item" data-speed="-400">
						<span class="work__item-num" data-speed="-200">/004</span>
						<div class="work__item-img">
                            <a href="{% url 'prod' %}">
							<img src="{% static 'images/wthd1.jpg' %}" alt="6">
                            </a>
						</div>
					</div>
				</div>
			</section>

			<!-- div .serv -->
			<section class="serv">
				<div class="content">
					<h2 class="section-title">servic<span class="stroke">es</span>
						<span class="section-title__square"></span>
					</h2>

					<div class="serv__list">
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="500">
								<img src="{% static 'images/arrow.svg' %}" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Contact Us</span>
							</div>
						</div>
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="400">
								<img src="{% static 'images/arrow.svg' %}" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Service</span>
							</div>
						</div>
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="800">
								<img src="{% static 'images/arrow.svg' %}" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Support</span>
							</div>
						</div>
						<div class="serv__item">
							<span class="serv__item-arrow" data-speed="600">
								<img src="{% static 'images/arrow.svg' %}" alt="">
							</span>
							<div class="serv__item-txt">
								<span class="serv__item-text">/Rate Us</span>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<!-- div .footer -->
		<footer class="footer">
			<div class="footer__div">
				<span data-speed="-300">z</span>
				<span data-speed="100">y</span>
				<span data-speed="300">r</span>
				<span data-speed="-300">x</span>
				<span data-speed="350">w</span>
				<span data-speed="200">a</span>
				<span data-speed="-310">t</span>
				<span data-speed="200">c</span>
				<span data-speed="-340">h</span>
				<span data-speed="-100">e</span>
				<span data-speed="300">s</span>
			</div>
		</footer>
	</div>
	<!-- /div .wrapp END -->
	<script src="{% static 'js/splitting.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
	<script src="{% static 'js/luxy.js' %}"></script>
	<script src="{% static 'js/scriptslide.js' %}"></script>
</body>

</html>