{% load static %}
<div id="main-gc" class="d-flex">
    <div class="slides d-flex-c">
      <div value="15" class="slide slide1 d-flex">
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/wthd2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
      </div>
      <div value="15" class="slide slide2 d-flex">
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/wthd1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
      </div>
      <div value="15" class="slide slide3 d-flex">
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/wthd2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="ww3.jpg" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
      </div>
      <div value="15" class="slide slide4 d-flex">
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/wthd1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/wimg3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
      </div>
      <div value="15" class="slide slide5 d-flex">
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww1.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww3.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww4.jpg' %}" alt="" />
        </div>
        <div class="slide-img">
          <img src="{% static 'images/ww2.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <a href="product.html">
    <div class="overlay d-flex">
        <button>Explore</button>
      </div>
    </a>
    </div>